@use "./variables" as *;

.game {
  &__playerInfo {
    margin-inline: 1rem;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $color-white;
  }

  &__player1,
  &__player2 {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__player1 {
    border: $color-player1 solid 2px;
  }
  &__player2 {
    border: $color-player2 solid 2px;
  }

  &__token {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

    &--red {
      outline: solid 1px $color-player1;
      background: radial-gradient($color-player1, $color-player1--accent);
    }
    &--yellow {
      outline: solid 2px $color-player2;
      background: radial-gradient($color-player2, $color-player2--accent);
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    &__elements {
      max-width: 768px;
      margin: 2rem auto;
    }
  }
  .game {
    &__playerInfo {
      gap: 10rem;
    }
  }
}
