// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// COLOURS
// shades
$color-white: #ffffff;
$color-black: #030303;
$color-gray: #d4d4d4;
// background colours
$color-light: #bfdbed;
$color-mid: #80b8db;
$color-dark: #368abf;

// token colours
$color-player1: #d12424;
$color-player2: #f8f22f;
