// FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// COLOURS

// shades
$color-white: #ffffff;
$color-black: #030303;
$color-gray: #d4d4d4;

// background colours
$color-board: #0050f1;
$color-dark: #0e0c39;
$color-purple: #47257d;

// token colours
$color-player1: #ff2e2e;
$color-player1--accent: #6a0606;
$color-player2: #fff70f;
$color-player2--accent: #989803;

// font colours

$color-game-info: #f200ff;
