@use "./resets";
@use "./variables" as *;
@use "./player-info";
.header {
  background-color: $color-mid;
  color: $color-white;
  font-size: 1.5rem;
  -webkit-text-fill-color: $color-dark;
  -webkit-text-stroke: 1px;
  .game-info {
    padding-top: 0.5em;
    width: 50%;
    height: 15vh;
    display: inline-block;
  }
}

.game {
  height: 100vh;
  background-image: linear-gradient(120deg, $color-light, $color-mid);
  display: flex;
  flex-direction: column;

  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    padding: 1em;

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .window {
        height: 4vh;
        background-color: $color-gray;
      }
      .red-token {
        background-color: $color-player1;
      }
      .yellow-token {
        background-color: $color-player2;
      }
    }
  }

  &__board {
    height: 40vh;
    background-color: $color-mid;
    margin: 0 1rem;
    outline: solid;
    box-shadow: 0 3px 0 $color-black, 5px -5px 2px 2px $color-black;
    // position: relative;

    // &::after {
    //   content: "";
    //   width: 105%;
    //   display: block;
    //   height: 105%;
    //   background-color: red;
    //   opacity: 10;
    //   position: absolute;
    //   // z-index: -1;
    //   left: 50%;
    // }

    .window {
      box-shadow: inset 3px 3px 0 2px $color-black, inset 0 0 0 1px $color-black;
      border-radius: 50%;
      background-color: $color-white;
    }
  }
}
